extends ../../../views/layout

block content
	#home-page.page-content
		.panel.panel-theme
			.panel-heading
				span
					| Welcome to home page
			.panel-body
				span
					| Welcome to Bootstraping Node
