.nav.header
	.container
		.clearfix
			span.pull-left.logo.fake-link
				|Bootstrap Node
			.navbar.pull-right
				ul.nav
					li.logged-in-block.cta-block.text-based-dropdown.dropdown
						span.nav-block.dropdown-toggle(role='menu', data-toggle='dropdown')
							span.logged-in-username.notice-text-mobile.notice-link
								span.inner Prakash Kumar
								i.icon-chevron-down